img, a 
{
    border:none;
    outline: none;
}

body {
    height: 100vh;
    background-color: slategray;
    display: flex;
    justify-content: center;
    align-items: center;
}


.outer-sphere {
    display: flex;
    background: black;
    border-radius: 50%;
    height: 600px;
    width: 600px;
    margin: 0;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle at 100px 100px, #5cabff, #000);
    filter: drop-shadow(0px 400px 80px rgba(77, 78, 83, 0.5));
}



#magic-8-ball{
    background-size: contain;
    width: 400px;
    height: 400px;
    background-position: center center;
    background-repeat:no-repeat;
}

.question {
    display: block;
    margin: 20px 0;
    align-content: center;
}

input[type=text]{
    width: 100%;
    height: 1.5rem;
    border-radius: 30px;
    border: none;
    border-width: 0;
    outline: none;
    padding: 10px;
    margin: 20px 0;
    font-size: 1.15rem;
    text-align: center;
}

input[type=button]{
    margin: 0 40%;
    width: 100px;
    height: 2rem;
    border-radius: 20px;
    border: none;
    background-color: #fff;
    font-weight: 600;
}